import 'package:dartz/dartz.dart';

import '../../../../core/errors/failures.dart';
// #if features.pagination
import '../../../../core/pagination/pagination.dart';
// #endif
import '../entities/{{module_snake}}_entity.dart';

/// Domain repository contract for {{Module}}. Implementations live in the
/// `data/` layer.
abstract class {{Module}}Repository {
  Future<Either<Failure, List<{{Module}}Entity>>> getAll();
  // #if features.pagination
  Future<Either<Failure, PaginatedResponse<{{Module}}Entity>>> getAllPaginated(
    PaginationParams params,
  );
  // #endif
  Future<Either<Failure, {{Module}}Entity>> getById(String id);
  Future<Either<Failure, {{Module}}Entity>> add({{Module}}Entity entity);
  Future<Either<Failure, {{Module}}Entity>> update({{Module}}Entity entity);
  Future<Either<Failure, Unit>> delete(String id);
  // #if features.search
  Future<Either<Failure, List<{{Module}}Entity>>> search(String query);
  // #endif
}
